<div class="user-show">
	<div class="user-details">
		<div class="user-avatar">
			<img src="#">
		</div>
		<div class="div">
			<div class="div1">
				<div class="name">USERSNAME</div>
				<div class="buttons">
					<a href="">Message</a>
					<a href="">logo</a>
					<a href="">></a>
				</div>
			</div>
	     	<div class="div2">
	     		<a href="#"><strong>1,716</strong> post</a>
	     		<a href="#"><strong>4.2M</strong> followers</a>
	     		<a href="#"><strong>122</strong> following</a>
	     	</div>
		    <div class="div3">
		    	<p><strong>Name</strong></p>
		    	<p>Email</p>
		    	<p>Bio</p>
		    	<p>Website</p>
		    </div>
		</div>
	</div>
	<div></div>
	<div></div>
	<div></div>
</div>