<nav>
	<div class="nav">
	  	<div class="nav-link-div1">
		    <a href="#">Instagram</a>
			<li class="nav-item dropdown">
		      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
		      <ul class="dropdown-menu">
		        <li><a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-house"></i><h3>Following</h3></a></li>
		        <li><a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-house"></i><h3>Favorites</h3></a></li>
		      </ul>
		    </li>
		</div>
		<div class="nav-link-div2">
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
			<a href="#"><i class="fa-sharp fa-solid fa-house fa-2x"></i></a>
		</div>
	</div>
</nav>